@font-face {
   font-family: "svgfont";
   src: url('../css/fonts/svgfont.eot');
   src: url('../css/fonts/svgfont.eot?#iefix') format('eot'),
        url('../css/fonts/svgfont.woff') format('woff'),
        url('../css/fonts/svgfont.woff2') format('woff2'),
        url('../css/fonts/svgfont.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

$icon-skrill: "\EA02";
$icon-sepa: "\EA01";


%icon {
   font-family: "svgfont";
   font-style: normal;
   font-weight: normal;
   text-rendering: auto;
   speak: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon {
   @extend %icon;
   display: inline-block;
}

.icon-skrill:before { content: $icon-skrill; }
.icon-sepa:before { content: $icon-sepa; }