<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" media="all" href="css/screen.css">
	<style>
		.wrapper {
			padding: 100px;
			-webkit-columns: 4;
		}
		.icon {
			font-size: 40px;
		}
		.iconitem{
			display: inline-block;
			margin-bottom: 30px;
			width: 100%;
		}
		.iconitem__name{
			display: block;
			text-transform: uppercase;
			font-size: 10px;
			padding-bottom: 8px;
		}
	</style>
</head>
<body>
<!-- wrapper -->
<div class="wrapper">

	<% _.each(glyphs, function(glyph) { %>
	<div class="iconitem">
	<div class="iconitem__name"><%= glyph.name %></div><%= htmlBefore %><%= className %>-<%= glyph.name %><%= htmlAfter %><%= htmlBr %>
	</div>
	<% }); %>

</div>
</body>
</html>